{% extends "main/base.html" %}
{% block content %}
<div class="bd-example">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">Número de cuenta</th>
                <th scope="col">Usuario asociado</th>
                <th scope="col">Banco</th>
                <th scope="col">Empresa</th>
                <th scope="col">Detalle</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for cuentacorriente in object_list %}
            <tr>
                <td>{{ cuentacorriente.numero_cuenta }}</td>
                <td>{{ cuentacorriente.usuario.documento }}</td>
                <td>{{ cuentacorriente.usuario.banco.descripcion }}</td>
                <td>{{ cuentacorriente.usuario.empresa.descripcion }}</td>
                <td><a href="{{ cuentacorriente.get_absolute_url }}">Detalle</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock content %}