{% extends "main/base.html" %}
{% load static %}
{% block content %}

<main>

    <div class="py-5 text-center">

        <img alt="" class="d-block mx-auto mb-4" height="72" src="{% static 'imagenes/cuenta.png' %}" width="72">
        <h2>Actualización de Datos de Cuenta Corriente</h2>
    </div>
    <div class="container-lg">
        <div class="bg-light mx-auto w-50 p-5 rounded">

            <div class="col-md-8 offset-md-4">
                <div class="row g-5">
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">Información</h4>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-6 col-sm-9"><label for="numero_cuenta">Número de cuenta</label>
                                    <input type="text" class="form-control" id="numero_cuenta" name="numero_cuenta"
                                           value="{{cuentascorrientes.numero_cuenta}}">
                                    <div class="invalid-feedback">
                                        Se debe ingresar un número de cuenta.
                                    </div>
                                </div>
                            </div>
                            <label for="id_usuario">Usuario asociado</label>

                            <select class="form-select d-block w-75" id="id_usuario" name="usuario" required>
                                <option value="{{ cuentascorrientes.usuario.id }}">{{ cuentascorrientes.usuario.documento }}</option>
                                {% for usuario in usuarios %}
                                <option value="{{ usuario.id }}">{{ usuario.documento }}</option>
                                {% endfor %}
                            </select>

                    </div>
                    <button class="w-50 btn btn-primary btn-lg" type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>
</main>


{% endblock content %}